* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --dblue-color: #05192c;
  --tan-color: #d0ae8b;
  --plat-color: #e8e4e2;
  --midblue-color: #73ccd8;
  --maxblue-color: #197999;
  overflow: auto;
}

body {
  color: var(--tan-color);
  background-color: #05192c;
  border-bottom: 5px solid var(--plat-color);
}
nav {
  display: flex;
  background-color: var(--midblue-color);
  height: 90px;
  align-items: center;
  justify-content: space-between;
}
nav > img {
  height: 90px;
  width: 120px;
}

nav a {
  font-size: 23px;
  font-weight: bolder;
  margin-right: 15px;
  text-decoration: none;
  color: #05192c;
}
.profile-img {
  float: right;
  border-radius: 25%;
  margin: 50px 10px;
}
.about-me {
  padding: 20px;
  font-size: 25px;
}
.Card {
  font-size: 27px;
  padding: 5px;
  border-left: 5px solid var(--midblue-color);
  border-top: 5px solid var(--maxblue-color);
  border-bottom: 5px solid var(--plat-color);
  margin-top: 20px;
}
.Card h1,
h2 {
  margin: 30px 25px;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var(--plat-color);
}

.Card h3 {
  color: var(--midblue-color);
  margin: 30px 25px;
  font-size: 32px;
}

.Card h1 em {
  color: var(--midblue-color);
  font-size: 50px;
}
.main-project {
  width: 100%;
  height: 750px;
}
.projects h4 {
  margin: 25px 0px;
  text-decoration: underline;
  text-decoration-color: #73ccd8;
}
.projects img {
  width: 100%;
  height: 250px;
}
.connect {
  text-align: center;
  margin: 20px 175px;
  border-left: 8px solid var(--maxblue-color);
  border-right: 8px solid var(--midblue-color);
}
.icon {
  width: 35px;
  height: 35px;
}
li a {
  text-decoration: none;
  color: var(--plat-color);
}
.notes {
  font-size: 20px;
}
li {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  nav a {
    margin-right: 75px;
  }
  .profile-img {
    width: 40%;
  }
  .Card h2,
  h3 {
    font-size: 40px;
  }

  .about-me {
    font-size: 27px;
  }
  .main-project {
    height: 850px;
  }
  .projects {
    font-size: 35px;
  }
  .projects img {
    width: 100%;
    height: 350px;
  }
}
@media screen and (min-width: 980px) {
  nav a {
    margin-right: 100px;
    font-size: 30px;
  }
  .Card h2 {
    font-size: 55px;
  }
  .about-me p {
    font-size: 30px;
  }
  .profile-img {
    width: 30%;
  }
  li a {
    font-size: 40px;
  }
  .Card h3 {
    font-size: 45px;
  }
  .projects h4 {
    margin-left: 20px;
    font-size: 35px;
  }
  .icon {
    width: 60px;
    height: 60px;
  }
  .projects a img:hover {
    opacity: 50%;
  }
}
