@property --rotate {
  syntax: "<angle>";
  initial-value: 125deg;
  inherits: false;
}
@keyframes ping {
  100%,
  100% {
    transform: scale(0.96);
    opacity: 0.6;
  }
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  50% {
    --rotate: 180deg;
  }
  100% {
    --rotate: 360deg;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: unset;
}
body {
  width: 130%;
  background-image: linear-gradient(to bottom, #13cde6, #003247);
}

.shape {
  position: absolute;
  top: 10px;
  left: -2.45rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 40em;
  height: 130vw;
  z-index: -2;
}
.shape2 {
  position: absolute;
  top: 40rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.shape3 {
  position: absolute;
  top: 110rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.shape4 {
  position: absolute;
  top: 165rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.shape5 {
  position: absolute;
  top: 225rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.shape6 {
  position: absolute;
  top: 280rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.shape7 {
  position: absolute;
  top: 340rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.shape8 {
  position: absolute;
  top: 400rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.shape9 {
  position: absolute;
  top: 460rem;
  left: -29.95rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 95rem;
  height: 130vw;
  z-index: -2;
}
.otherProjects {
  margin-top: 25.5rem;
}
#description {
  padding: 0px 140px;
}
.name {
  color: white;
  font-size: 5rem;
  text-shadow: 5px 2px 10px black;
}

.title {
  color: #00aeff;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
}
.skills {
  font-size: 4rem;
  text-shadow: 1px 1px 2px black;
}
li {
  font-size: 1.5rem;
}

.card {
  background: #191c29;
  width: 20rem;
  height: 30rem;
  padding: 4px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(0 0 1.5rem hsl(207, 100%, 56%));
}
.card:before {
  content: "";
  width: 110%;
  height: 104%;
  border-radius: 5px;
  background-image: linear-gradient(
    var(--rotate),
    #67e8f9,
    #2a63ab 20%,
    #001842
  );
  position: absolute;
  top: -2%;
  left: -5%;
  animation: spin 3s linear infinite;
  z-index: -1;
}
.card::after {
  position: absolute;
  content: "";
  top: calc(10rem / 6);
  left: 0;
  right: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1.5);

  opacity: 1;
  transition: opacity 0.5;
  animation: spin 5s linear infinite;
}
.projectLink {
  height: 15rem;
}
footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
}

/* ? 500 px  */
@media (min-width: 500px) {
  nav > a {
    font-size: 30px;
  }
  .shape {
    top: 5rem;
    left: -2.1rem;

    width: 45em;
    height: 130vw;
  }
  .name {
    margin-top: 65px;
  }
  #about-me {
    margin-top: 10px;
  }
  .shape2 {
    top: 55srem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  .shape3 {
    top: 110rem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 165rem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 225rem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 280rem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 340rem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 300px;
  }
  .shape8 {
    top: 400rem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  .shape9 {
    top: 460rem;
    left: -27.1rem;

    width: 95rem;
    height: 130vw;
  }
  #contact-me {
    margin-top: 15rem;
  }
}
/*? 550px */

@media (min-width: 550px) {
  .shape {
    top: -20px;
    left: 2.3rem;

    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 40rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
  .shape3 {
    top: 110rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 165rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 225rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 280rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 340rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 400rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
  .shape9 {
    top: 460rem;
    left: -25.2rem;

    width: 95rem;
    height: 130vw;
  }
}

/* ? 600px */
@media (min-width: 600px) {
  /*CSS for smaller width screens*/
  .shape {
    top: -50px;
    left: 4.5rem;

    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 40rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
  .shape3 {
    top: 110rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 165rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 225rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 280rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 340rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 400rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
  .shape9 {
    top: 460rem;
    left: -23rem;

    width: 95rem;
    height: 130vw;
  }
}
/* ? 650px */
@media (min-width: 650px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 8rem;
  }
  .shape {
    top: -40px;
    left: 6.41rem;

    width: 40em;
    height: 130vw;
  }
  .title {
    font-size: 33px;
    margin-bottom: 5px;
  }

  .shape2 {
    top: 45rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }
  #projects {
    margin-top: 275px;
  }
  .shape3 {
    top: 115rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 165rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 225rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }
  .card {
    margin-top: 0.6rem;
  }
  .shape6 {
    top: 280rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 340rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 400rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }

  .shape9 {
    top: 460rem;
    left: -21.05rem;

    width: 95rem;
    height: 130vw;
  }
}
/* ? 700px */
@media (min-width: 700px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 10rem;
  }
  .shape {
    left: 8.5rem;
    top: -4rem;
    width: 40em;
    height: 130vw;
  }
  .name {
    margin-top: 10rem;
  }
  .card {
    width: 27rem;
    height: 33.5rem;
    font-size: 21.5px;
  }

  .otherProjects {
    font-size: 21px;
    margin-top: 375px;
  }

  .shape2 {
    top: 42rem;
    left: -34rem;

    width: 125rem;
    height: 130vw;
  }
  #projects {
    margin-top: 275px;
  }
  #description {
    padding: 0px 150px;
  }
  .shape3 {
    top: 120rem;
    left: -19rem;
    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 175rem;
    left: -19rem;
    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 230rem;
    left: -19rem;
    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 285rem;
    left: -19rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 345rem;
    left: -19rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 405rem;
    left: -19rem;

    width: 95rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 275px;
  }
  .shape9 {
    top: 460rem;
    left: -19rem;

    width: 95rem;
    height: 130vw;
  }
}
/* ? 750px */
@media (min-width: 750px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 10rem;
  }

  .name {
    margin-top: 10rem;
  }
  .card {
    width: 27rem;
    height: 33.5rem;
    font-size: 21.5px;
  }

  .otherProjects {
    font-size: 21px;
    margin-top: 350px;
  }

  .shape {
    left: 10.71rem;
    top: -4rem;
    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 42rem;
    left: -31.8rem;

    width: 125rem;
    height: 130vw;
  }
  #projects {
    margin-top: 200px;
  }
  #description {
    padding: 0px 170px;
  }
  .shape3 {
    top: 120rem;
    left: -16.8rem;
    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 175rem;
    left: -16.8rem;
    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 230rem;
    left: -16.8rem;
    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 285rem;
    left: -16.8rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 345rem;
    left: -16.8rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 405rem;
    left: -16.8rem;

    width: 95rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 275px;
  }
  .shape9 {
    top: 460rem;
    left: -16.8rem;

    width: 95rem;
    height: 130vw;
  }
}
/* ? 800px */
@media (min-width: 800px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 10rem;
  }
  .card {
    width: 27rem;
    height: 38rem;
    font-size: 21.5px;
  }

  .otherProjects {
    font-size: 21px;
    margin-top: 265px;
  }

  .shape {
    left: 12.6rem;
    top: -8rem;
    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 42rem;
    left: -29.9rem;

    width: 125rem;
    height: 130vw;
  }
  #projects {
    margin-top: 200px;
  }
  #description {
    padding: 0px 170px;
  }
  .shape3 {
    top: 120rem;
    left: -14.8rem;
    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 175rem;
    left: -14.8rem;
    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 230rem;
    left: -14.8rem;
    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 285rem;
    left: -14.8rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 345rem;
    left: -14.8rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 405rem;
    left: -14.8rem;

    width: 95rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 400px;
  }
  .shape9 {
    top: 460rem;
    left: -14.8rem;

    width: 95rem;
    height: 130vw;
  }
}
/* ? 850px */
@media (min-width: 850px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 15rem;
  }
  .card {
    width: 27rem;
    height: 38rem;
    font-size: 21.5px;
  }
  .about {
    margin-top: 200px;
  }

  .otherProjects {
    font-size: 21px;
    margin-top: 265px;
  }

  .shape {
    left: 14.84rem;
    top: -8rem;
    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 42rem;
    left: -27.7rem;

    width: 125rem;
    height: 130vw;
  }
  #projects {
    margin-top: 110px;
  }
  #description {
    padding: 0px 250px;
  }
  .shape3 {
    top: 120rem;
    left: -12.7rem;
    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 175rem;
    left: -12.7rem;
    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 230rem;
    left: -12.7rem;
    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 285rem;
    left: -12.7rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 345rem;
    left: -12.7rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 405rem;
    left: -12.7rem;

    width: 95rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 250px;
  }
  .shape9 {
    top: 460rem;
    left: -12.7rem;

    width: 95rem;
    height: 130vw;
  }
}

/* ? 900px */
@media (min-width: 900px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 15rem;
  }
  .card {
    width: 27rem;
    height: 38rem;
    font-size: 21.5px;
  }
  .about {
    margin-top: 200px;
  }

  .otherProjects {
    font-size: 21px;
    margin-top: 265px;
  }

  .shape {
    left: 16.65rem;
    top: -9.5rem;
    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 42rem;
    left: -25.9rem;
    width: 125rem;
    height: 130vw;
  }
  #projects {
    margin-top: 110px;
  }
  #description {
    padding: 0px 250px;
  }
  .shape3 {
    top: 120rem;
    left: -10.9rem;
    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 175rem;
    left: -10.9rem;
    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 230rem;
    left: -10.9rem;
    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 285rem;
    left: -10.9rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 345rem;
    left: -10.9rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 405rem;
    left: -10.9rem;

    width: 95rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 250px;
  }
  .shape9 {
    top: 460rem;
    left: -10.9rem;

    width: 95rem;
    height: 130vw;
  }
}

/* ? 950px */
@media (min-width: 950px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 15rem;
  }
  .card {
    width: 27rem;
    height: 38rem;
    font-size: 21.5px;
  }
  .about {
    margin-top: 200px;
  }

  .otherProjects {
    font-size: 21px;
    margin-top: 265px;
  }

  .shape {
    left: 18.96rem;
    top: -10rem;
    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 42rem;
    left: -23.59rem;
    width: 125rem;
    height: 130vw;
  }
  #projects {
    margin-top: 110px;
  }
  #description {
    padding: 0px 250px;
  }
  .shape3 {
    top: 120rem;
    left: -8.59rem;
    width: 95rem;
    height: 130vw;
  }
  .shape4 {
    top: 175rem;
    left: -8.59rem;
    width: 95rem;
    height: 130vw;
  }
  .shape5 {
    top: 230rem;
    left: -8.59rem;
    width: 95rem;
    height: 130vw;
  }
  .shape6 {
    top: 285rem;
    left: -8.59rem;

    width: 95rem;
    height: 130vw;
  }
  .shape7 {
    top: 345rem;
    left: -8.59rem;

    width: 95rem;
    height: 130vw;
  }
  .shape8 {
    top: 405rem;
    left: -8.59rem;

    width: 95rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 250px;
  }
  .shape9 {
    top: 460rem;
    left: -8.59rem;

    width: 95rem;
    height: 130vw;
  }
}

/* ? 1000px */
@media (min-width: 1000px) {
  /*CSS for smaller width screens*/
  .name {
    margin-top: 15rem;
  }
  .card {
    width: 27rem;
    height: 38rem;
    font-size: 21.5px;
  }
  .about {
    margin-top: 200px;
  }

  .otherProjects {
    font-size: 21px;
    margin-top: 330px;
  }

  .shape {
    left: 21rem;
    top: -14rem;
    width: 40em;
    height: 130vw;
  }
  .shape2 {
    top: 45rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  #projects {
    margin-top: 500px;
  }
  #description {
    padding: 0px 250px;
  }
  .shape3 {
    top: 160rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  .shape4 {
    top: 220rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  .shape5 {
    top: 280rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  .shape6 {
    top: 340rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  .shape7 {
    top: 400rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  .shape8 {
    top: 460rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  .shape9 {
    top: 520rem;
    left: -36.5rem;
    width: 155rem;
    height: 130vw;
  }
  .skillsSection {
    margin-top: 250px;
  }
}

/* ? previous shaped shapes */
/*
.shape3 {
  position: absolute;
  top: 95rem;
  left: -9rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

  background-image: linear-gradient(
    to left,

    #075b80,
    #0a4c68
  );
  transform: rotate(90deg);
  width: 50rem;
  height: 125vw;
  z-index: -2;
}
.shape4 {
  position: absolute;
  top: 150rem;
  left: -10rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 50rem;
  height: 125vw;
  z-index: -2;
}
.shape5 {
  position: absolute;
  top: 200rem;
  left: -10rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-image: linear-gradient(to left, #075b80, #0a4c68);
  transform: rotate(90deg);
  width: 50rem;
  height: 125vw;
  z-index: -2;
}
.shape6 {
  position: absolute;
  top: 250rem;
  left: -10rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

  background-image: linear-gradient(
    to left,

    #075b80,
    #0a4c68
  );
  transform: rotate(90deg);
  width: 50rem;
  height: 125vw;
  z-index: -2;
}
.shape7 {
  position: absolute;
  top: 300rem;
  left: -10rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

  background-image: linear-gradient(
    to left,

    #075b80,
    #0a4c68
  );
  transform: rotate(90deg);
  width: 50rem;
  height: 125vw;
  z-index: -2;
}
.shape8 {
  position: absolute;
  top: 350rem;
  left: -10rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

  background-image: linear-gradient(
    to left,

    #075b80,
    #0a4c68
  );
  transform: rotate(90deg);
  width: 50rem;
  height: 125vw;
  z-index: -2;
}
.shape9 {
  position: absolute;
  top: 400rem;
  left: -10rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

  background-image: linear-gradient(
    to left,

    #075b80,
    #0a4c68
  );
  transform: rotate(90deg);
  width: 50rem;
  height: 125vw;
  z-index: -2;
} */
