* {
  box-sizing: border-box;

  padding: 0;
  --dblue-color: #05192c;
  --midblue-color: #73ccd8;
  --maxblue-color: #197999;
  --plat-color: #e8e4e2;
  --tan-color: #d0ae8b;
  overflow: auto;
}
/* universal selector basics + some variable colours */

body {
  color: var(--tan-color);
  border-bottom: 5px solid var(--plat-color);
  margin: 2rem;
}
nav {
  align-items: center;
  background-color: var(--midblue-color);
  display: flex;
  height: 5rem;
  justify-content: space-between;
}
nav > img {
  height: 5rem;
  width: 5rem;
}

nav a {
  color: #05192c;
  font-size: 17px;
  font-weight: bolder;
  margin-right: 10px;
  text-decoration: none;
}

.profile-img {
  border: 6px solid var(--midblue-color);
  border-radius: 25%;
  margin-left: 20px;
}

.Card {
  border-bottom: 5px solid var(--plat-color);
  border-left: 5px solid var(--midblue-color);
  border-top: 5px solid var(--maxblue-color);
  font-size: 27px;
  padding: 5px;
  margin-top: 20px;
}
.Card h1 em {
  font-size: 6rem;
}
.Card h1,
h2 {
  font-size: 3rem;
  margin: 30px 25px;
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-decoration-color: var(--plat-color);
}

.Card h3 {
  margin: 30px 25px;
  font-size: 32px;
}

.main-project {
  opacity: 66%;
  height: 775px;
  width: 100%;
}

.projects h4 {
  margin: 25px 0px;
  text-decoration: underline;
  text-decoration-color: #73ccd8;
}
.projects img {
  opacity: 66%;
  height: 375px;
  width: 100%;
}

.main-project:hover {
  opacity: 100%;
}
.notes {
  font-size: 20px;
}
.projects img:hover {
  opacity: 100%;
}
.connect {
  border-left: 8px solid var(--maxblue-color);
  border-right: 8px solid var(--midblue-color);
  margin: 1.75rem 1.75rem;
  text-align: center;
}
.icon {
  width: 35px;
  height: 35px;
}
li a {
  color: var(--plat-color);
  text-decoration: none;
}
li {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  nav a {
    margin-right: 75px;
  }
  .profile-img {
    max-height: auto;
    min-width: 300px;
  }
  .Card h2,
  h3 {
    font-size: 40px;
  }

  .about-me {
    font-size: 27px;
  }
  .main-project {
    height: 850px;
  }
  .projects {
    font-size: 35px;
  }
  .projects img {
    height: 350px;
    width: 100%;
  }
}
@media screen and (min-width: 980px) {
  nav a {
    font-size: 30px;
    margin-right: 100px;
  }
  .Card h2 {
    font-size: 55px;
  }
  .about-me p {
    font-size: 30px;
  }
  .profile-img {
    width: 30%;
  }
  li a {
    font-size: 40px;
  }
  .Card h3 {
    font-size: 45px;
  }
  .projects h4 {
    font-size: 35px;
    margin-left: 20px;
  }
  .icon {
    height: 60px;
    width: 60px;
  }
  .projects a img:hover {
    opacity: 100%;
  }
}
@media screen and (min-width: 1200px) {
  nav a {
    font-size: 44px;
    margin-right: 125px;
  }
  .profile-img {
    max-height: auto;
    max-width: 600px;
    min-width: 400px;
  }
  .Card h2 {
    font-size: 60px;
    color: var(--midblue-color);
  }
  .Card h1 em {
    color: var(--midblue-color);
    font-size: 6rem;
  }
  .main-project {
    height: 2000px;
    width: 100%;
  }
  .projects img {
    height: 900px;
  }
  .projects h4,
  li a {
    font-size: 60px;
  }
} ;
